/* Designed for a 1920x1080 window/overlay */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.team-info {
    margin: 1% auto auto;
    text-align: center;
    font-size: 30px;
    background-color: lightgray;
    border-collapse: collapse;
}
.team-info td {
    padding-top: 3px;
    padding-bottom: 3px;
}
.timer {
    width: 10%;
}
.left-score, .right-score {
    width: 10%;
    color: white;
    background-color: black;
}
.left-name {
    width: 30%;
    padding: 5px 10px 5px 10px;
    text-align: right;
}
.right-name {
    width: 30%;
    padding: 5px 10px 5px 10px;
    text-align: left;
}

.bluePlayers, .orangePlayers {
    position: absolute;
    width: 15%;
    top: 170px;
    font-size: 25px;
    border-collapse: separate;
    border-spacing: 0 15px;
    color: white;
}
.bluePlayers {
    left: 1%;
}
.orangePlayers {
    right: 1%;
}
.bluePlayers tr, .orangePlayers tr {
    background-color: black;
    opacity: 0.95;
}
.bluePlayers td, .orangePlayers td {
    padding: 10px 12px;
}

.blueName, .orangeBoost {
    text-align: left;
}
.blueBoost, .orangeName {
    text-align: right;
}

.target-info {
    display: none;
    position: absolute;
    width: 15%;
    padding: 10px 20px;
    top: 600px;
    left: 1%;
    text-align: right;
    font-size: 25px;
    opacity: 0.95;
    color: white;
    background-color: black;
}
.t-name {
    text-align: center;
    font-size: 30px;
    background-color: black;
}
.t-info {
    text-align: left;
}


.target-boost {
    display: none;
}
.boost-number {
    position: absolute;
    width: 4%;
    right: 80px;
    top: 800px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.boost-ring {
    position: absolute;
    top: 750px;
    right: 1%;
    width: 200px;
    height: 200px;
}
#boost-ring-circle {
    transition: 0.1s stroke-dashoffset;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}
#boost-ring-bg-svg {
    z-index: -1;
}
#boost-ring-bg {
    top: 750px;
    right: 1%;
    background-color: black;
    border-radius: 50%;
}
