/* Designed for a 1920x1080 window/overlay */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.team-info {
    width: 50%;
    margin: 1% auto auto;
    text-align: center;
    font-size: 30px;
    background-color: gray;
    border-collapse: collapse;
}
.team-info td {
    padding-top: 3px;
    padding-bottom: 3px;
}
.left-score, .right-score {
    width: 15%;
    color: white;
    background-color: black;
}
.left-name {
    width: 20%;
    padding-right: 10px;
    text-align: right;
}
.right-name {
    width: 20%;
    padding-left: 10px;
    text-align: left;
}

.bluePlayers, .orangePlayers {
    position: absolute;
    width: 15%;
    top: 170px;
    font-size: 25px;
    border-collapse: separate;
    border-spacing: 0 15px;
    color: white;
}
.bluePlayers {
    left: 1%;
}
.orangePlayers {
    right: 1%;
}
.bluePlayers tr, .orangePlayers tr {
    background-color: black;
    opacity: 0.95;
}
.bluePlayers td, .orangePlayers td {
    padding: 10px 12px;
}

.blueName, .orangeBoost {
    text-align: left;
}
.blueBoost, .orangeName {
    text-align: right;
}

.target-info {
    display: none;
    position: absolute;
    width: 15%;
    padding: 10px 20px;
    top: 600px;
    left: 1%;
    text-align: right;
    font-size: 25px;
    color: white;
    background-color: black;
}
.t-name {
    text-align: center;
    font-size: 30px;
}
.t-info {
    text-align: left;
}

.boost {
    display: none;
    position: absolute;
    width: 10%;
    right: 1%;
    top: 600px;
    text-align: center;
    font-size: 20px;
    background-color: white;
}

circle {
}
.boost-ring {
    display: none;
    position: absolute;
    top: 650px;
    right: 1%;
    width: 120px;
    height: 120px;
}
#boost-ring-circle {
    transition: 0.1s stroke-dashoffset;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}
