/* Designed for a 1920x1080 window/overlay */

.team-info {
    width: 50%;
    margin: 1% auto auto;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
.left-score, .right-score {
    width: 15%;
    color: white;
    background-color: black;
}
.left-name {
    width: 20%;
    padding-right: 10px;
    text-align: right;
}
.right-name {
    width: 20%;
    padding-left: 10px;
    text-align: left;
}

.bluePlayers, .orangePlayers {
    position: absolute;
    width: 10%;
    top: 200px;
    border-spacing: 10px;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.bluePlayers {
    left: 1%;
}
.orangePlayers {
    right: 1%;
}
.b-name, .o-boost {
    text-align: left;
}
.b-boost, .o-name {
    text-align: right;
}

.target-info {
    display: none;
    position: absolute;
    width: auto;
    padding: 0 10px;
    top: 600px;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}